// General configuration
params {
    config_profile_description = 'University of Manchester CSF3 configuration'
    config_profile_contact = 'Research IT Team (its-ri-team@manchester.ac.uk)'
    config_profile_url = 'https://ri.manchester.ac.uk'
}

process {
    executor = 'sge'
    cpus = 1
    memory = '2 GB'
    time = '1h'
}


// Executor details
executor {
    name = 'sge'
    queueSize = 10                // Max number of jobs in the queue
    submitRateLimit = '5 sec'     // Limit job submission rate
}

// Singularity configuration
singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /mnt'
}

// Debugging and trace
trace {
    enabled = true
    file = 'trace.txt'
    overwrite = true              // Enable overwriting the trace file
}
